fastapi
uvicorn[standard]
sqlalchemy
pymysql
cryptography
pandas
numpy
requests
yfinance
ta
apscheduler
python-jose
passlib
bcrypt==4.0.1
feedparser
transformers
torch
nltk
textblob
xgboost
email-validator
google-generativeai
psutil
python-multipart
razorpay
